@import '../variables';

.bootcamp {
  padding-top: 135px;
  padding-bottom: 80px;

  background-image: url('/src/images/bootcamp_girl.png');
  background-repeat: no-repeat;
  background-position: 70% center;

  &__title {
    font-family: $font-family-bold;
    font-size: 200px;

    white-space: pre-line;

    color: $color-black;
  }

  @media (max-width: $screen-sm-max) {
    background-size: 40%;
    background-position: 80% center;
  }

  @media (max-width: $screen-xs-max) {
    background-size: 60%;
    background-position: 95% center;
  }
}
