@import '../variables';

.fightings {
  padding-top: 135px;
  padding-bottom: 80px;

  background-image: url('/src/images/fightings_mens.png');
  background-repeat: no-repeat;
  background-position: 70% 15%;

  &__title {
    font-family: $font-family-bold;
    font-size: 200px;

    line-height: 180px;
    white-space: pre-line;

    color: $color-black;

    @media (max-width: $screen-xs-max) {
      font-size: $font-size-h2-xs;
    }
  }

  @media (max-width: $screen-sm-max) {
    background-size: 40%;
    background-position: 70% 20%;
  }

  @media (max-width: $screen-xs-max) {
    background-size: 60%;
    background-position: 65% 35%;
  }
}
