@import '../variables';

.functional {
  padding-top: 135px;
  padding-bottom: 80px;

  background-image: url('/src/images/functional_man.png');
  background-repeat: no-repeat;
  background-position: 25% 15%;

  background-color: $color-gray;

  &__title {
    font-family: $font-family-bold;
    font-size: 180px;

    text-align: right;

    white-space: pre-line;

    color: $color-black;
  }

  @media (max-width: $screen-sm-max) {
    background-size: 35%;
    background-position: 10% 15%;
  }

  @media (max-width: $screen-xs-max) {
    background-size: 50%;
    background-position: 20% 15%;
  }
}
