@use 'sass:math';

@import '../variables';

.news {
  padding: 100px 0;

  &__title {
    margin-bottom: 50px;

    font-family: $font-family-bold;
    font-style: normal;
    font-size: 100px;
    line-height: 1;

    text-align: center;

    color: $color-black;

    &._accent {
      color: $color-accent;
    }
  }

  .news-list {
    gap: $grid-gutter-width * 2;
    margin-bottom: 70px;
  }

  .news-item {
    font-family: $font-family-light;
    font-size: 50px;
    line-height: 60px;
    color: $color-accent;

    &:nth-child(odd) {
      color: $color-black;
    }
  }

  .col-6 {
    img:first-child {
      margin-bottom: 80px;
    }
  }

  .image-list {
    gap: $grid-gutter-width * 2;
    img {
      width: 100%;
    }
  }

  @media (max-width: $screen-sm-max) {
    .news-list {
      gap: math.div($grid-gutter-width, 2);
      margin-bottom: 60px;
    }

    .image-list {
      gap: math.div($grid-gutter-width, 2);
    }

    .col-6 {
      img:first-child {
        margin-bottom: 20px;
      }
    }

    .news-item {
      font-family: $font-family-regular;
      font-size: 20px;
      line-height: 30px;
    }
  }
}
