@import '../variables';

.promotion-list {
  padding: 60px 0;

  background-color: $color-gray;
}

.promotion-card {
  background-color: $color-white;

  &__image {
    display: block;
    width: 100%;
    font-size: 0;
  }

  &__sticker {
    position: absolute;
    right: 30px;
    top: 30px;

    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;

    width: 60px;
    height: 60px;
    padding: 0 8px;

    font-family: $font-family-bold;
    font-size: 14px;
    line-height: 0.9;

    color: $color-white;
    background-color: #F58181;

    user-select: none;

    border-radius: 50%;
  }

  &__title {
    padding: 25px 20px 0 20px;
    margin-bottom: 15px;

    font-family: $font-family-bold;
    font-size: 30px;
    line-height: 1;

    color: $color-black;
  }

  &__content {
    padding: 0 20px;
    margin-bottom: 30px;

    font-family: $font-family-regular;
    font-size: 18px;
    line-height: 1.3;

    color: rgba($color-black, .5);
  }

  &__action-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100px;

    margin-top: 20px;

    background-color: $color-accent;
    color: $color-white;

    font-family: $font-family-bold;
    font-size: 50px;
    line-height: 1;

    cursor: pointer;
    user-select: none;

    transition:
      background-color .2s ease-in-out;

    &:hover {
      background-color: rgba($color-accent, .8);
    }
  }
}
