@import '../variables';

.schedule {
  padding-top: 130px;
  padding-bottom: 90px;
  background-color: rgba($color-gray, .1);

  &._white {
    background-color: $color-white;
  }

  &._private {
    padding-top: 45px;
    background-color: $color-accent;

    .schedule__title {
      font-size: 50px;
      color: $color-white;

      &._private {
        font-size: 80px;
      }

      span {
        margin-top: 12px;
        display: block;
        color: $color-black;
      }
    }
  }

  &__title {
    margin-bottom: 30px;

    font-family: $font-family-bold;
    font-style: normal;
    font-size: 100px;
    line-height: 1;

    text-align: center;
    text-transform: uppercase;

    color: $color-black;

    &._accent {
      color: $color-accent;
    }
  }

  &__button {
    display: block;
    width: 260px;
    padding: 15px 0 10px 0;
    margin: 0 auto 45px auto ;

    font-family: $font-family-bold;
    font-size: 25px;
    line-height: 25px;

    color: $color-black;
    background-color: $color-white;

    cursor: pointer;
    border-radius: 100px;

    transition:
      background-color 0.2s ease-in-out;

    &:hover {
      background-color: darken($color-white, 10);
    }
  }

  &._trainer-view {
    padding-bottom: 60px;
    background-color: $color-white;

    .schedule__title {
      padding: 0 20px 20px;
    }

    .options-list {
      display: none;
    }
  }
}

.schedule-view {
  width: 100%;

  border-collapse: collapse;

  &._secondary {
    .schedule-view__header tr th {
      span {
        color: $color-black;
        background-color: $color-white;
      }

      &:nth-child(odd) {
        span {
          background-color: #DEDEDE;
        }
      }
    }

    .schedule-view__body {
      tr td {
        &:not(:last-child) {
          border-bottom: 2px solid rgba($color-white, .5);
        }
        &:nth-child(odd) {
          .schedule-event__title {
            background-color: $color-black;
          }
        }
      }
    }

    .schedule-event {
      &__title {
        background-color: $color-black;
      }

      &__trainer {
        background-color: $color-white;
      }
    }
  }

  &__header {
    tr {
      th {
        text-align: left;
        font-family: $font-family-regular;

        &:first-child,
        &:last-child {
          svg {
            width: 40px;
          }
        }

        &:last-child {
          text-align: right;

          svg {
            transform: rotate(180deg);
          }
        }

        &:nth-child(odd) {
          span {
            background-color: rgba($color-accent, .6);
          }
        }

        @media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
          display: none;

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:last-child {
            display: table-cell;
          }
        }

        @media (max-width: $screen-xs-max) {
          display: none;

          &:nth-child(1),
          &:nth-child(2),
          &:last-child {
            display: table-cell;
          }
        }

        span {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          width: 125px;
          min-height: 80px;
          margin: 0 auto;
          padding: 20px 10px 12px 10px;

          font-size: 24px;
          line-height: 1;
          text-align: left;

          color: $color-white;
          background-color: $color-accent;

          @media (max-width: $screen-xs-max) {
            width: 175px;
          }
        }
      }
    }
  }

  &__body {
    tr {
      &:not(:last-child) {
        border-bottom: 2px solid rgba(#C4C4C4, .2);
      }

      td {
        text-align: center;

        &:first-child {
          padding: 30px 0;
          text-align: right;
          font-family: $font-family-bold;
          font-size: 20px;
          line-height: 1;
        }

        &:nth-child(odd) {
          .schedule-event__title {
            background-color: rgba($color-accent, .6);
          }
        }

        &:last-child {
          text-align: left;
        }

        @media (min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
          display: none;

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:last-child {
            display: table-cell;
          }
        }

        @media (max-width: $screen-xs-max) {
          display: none;

          &:nth-child(1),
          &:nth-child(2),
          &:last-child {
            display: table-cell;
          }
        }
      }
    }
  }
}

.schedule-event {
  display: flex;
  flex-direction: column;

  width: 125px;
  margin: 30px auto;

  font-family: $font-family-regular;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 60px;
    padding: 0 10px;

    font-size: 20px;
    line-height: 1;

    color: $color-white;
    background-color: $color-accent;

    border-radius: 10px 10px 0 0;
  }

  &__trainer {
    padding: 12px 0;

    font-size: 15px;

    border-radius: 0 0 10px 10px;
    border: solid 1px $color-accent;
  }
}

.options-list {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

  max-width: 870px;
  margin: 30px auto 60px auto;

  list-style: none;
  padding: 0;

  .options-item {
    user-select: none;

    &__checkbox:checked~.options-item__label {
      border-color: $color-accent;
      background-color: $color-accent;
    }

    &__label {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      padding: 0 20px;
      margin: 5px;

      cursor: pointer;

      font-family: $font-family-regular;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;

      color: $color-white;
      background-color: #C4C4C4;

      border-radius: 10px;
      border: 2px solid #C4C4C4;

      transition: all 0.3s ease;
    }
  }

  @media (max-width: $screen-xs-max) {
    margin-bottom: 50px;
  }
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}
