@import '../variables';

.trainers {
  padding: 100px 0;

  background-color: $color-gray;

  &__title {
    margin-bottom: 50px;

    font-family: $font-family-bold;
    font-style: normal;
    font-size: 100px;
    line-height: 1;

    text-align: center;

    color: $color-black;

    span {
      color: $color-accent;
    }

    @media (max-width: $screen-xs-max) {
      font-size: 50px;
      padding: 0 20px;
    }
  }

  .trainers-list-controls {
    display: none;
  }

  @media (max-width: $screen-xs-max) {
    padding-top: 90px;
    padding-bottom: 60px;

    .container {
      padding-left: 0;
      padding-right: 0;
    }

    .trainers-list {
      position: relative;
      display: flex;

      padding-right: 20px;

      overflow-x: scroll;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;

      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
    }

    .trainers-list-controls {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 0 20px;

      &__button {
        &._left {}
        &._right {
          svg {
            transform: rotate(180deg)
          }
        }
      }
    }
  }

  .trainer-item {
    position: relative;

    margin-top: 125px;
    padding-top: 145px;

    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 30px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    background-color: $color-accent;

    transition:
      background-color .2s ease-in-out;

    @media (max-width: $screen-xs-max) {
      scroll-snap-align: start;

      min-width: 320px;
      max-height: 495px;
    }

    &:hover {
      background-color: #B4E0E7;
    }

    &__avatar {
      position: absolute;
      top: -125px;
      width: 250px;
      height: 250px;
      border: 30px solid #83C8D2;
      border-radius: 50%;
    }

    &__name {
      margin-bottom: 20px;

      font-family: $font-family-bold;
      font-size: 50px;
      line-height: 50px;

      text-align: center;
      color: $color-black;
    }

    &__skills {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
    }

    &__skills-item {
      padding: 7px 20px;
      margin-bottom: 10px;

      font-family: $font-family-regular;
      font-size: 20px;
      line-height: 1;

      text-align: center;
      text-transform: uppercase;

      color: $color-black;
      background-color: $color-white;

      border-radius: 10px;

      &:last-child {
        margin-bottom: 35px;
      }
    }

    &__schedule {
      font-family: $font-family-bold;
      font-size: 30px;
      line-height: 1;

      text-transform: uppercase;
      text-align: center;
      text-decoration-line: underline;

      color: $color-white;
    }
  }
}
