@import '../variables';

.faq {
  .section__heading {
    font-family: $font-family-bold;
    text-align: center;
  }

  @media (max-width: $screen-sm-max) {
  }

  @media (max-width: $screen-xs-max) {
    .container {
      padding: 0;
    }

    &.section {
      &:not(._first) {
        padding-top: 30px;
      }
    }
  }
}
