@import './reset';
@import './grid';
@import './scrollbar';
@import './variables';

/* ----- Everything ----- */
* {

  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

/* ----- General ----- */
html {
  overflow-x: hidden;
  font-size: 14px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &._no-scroll {
    overflow-y: hidden;
  }
}

body {
  overflow-x: hidden;
  height: auto;

  &._no-scroll {
    overflow-y: hidden;
  }
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  height: 100%;

  &._fluid {
    max-width: $container-wide-width;
    padding: 0 20px;
  }

  @media (max-width: $screen-sm-max) {
    padding: 0 20px;
  }
}

.overlay {
  width: 100%;
  height: 100%;
}

.row {
  @include make-row;

  &._reverse {
    flex-direction: row-reverse;
  }
}

.column {
  @include make-column;

  &._reverse {
    flex-direction: column-reverse;
  }

  @media (max-width: $screen-sm-max) {
    &._sm-reverse {
      flex-direction: column-reverse;
    }
  }
}

@media (max-width: $screen-sm-max) {
  .column-sm-reverse {
    flex-direction: column-reverse;
  }
}

._align-start {
  align-items: flex-start
}

._align-center {
  align-items: center
}

._align-end {
  align-items: flex-end
}

._justify-start {
  justify-items: flex-start
}

._justify-end {
  justify-items: flex-end
}

._justify-content-end {
  justify-content: flex-end
}

._align-self-end {
  align-self: flex-end
}

.masonry {
  @include make-masonry;
}

@import './components/header';
@import './components/hero';
@import './components/bootcamp';
@import './components/functional';
@import './components/fightings';
@import './components/body-mind';
@import './components/personal';
@import './components/trainers';
@import './components/news';
@import './components/maps';
@import './components/footer';
@import './components/sidebar';

@import './components/schedule';

@import './shared';
@import './display';
