<section
  id="about-us"
  class="about-us"
>
  <div class="container">
    <div class="row">
      <h1 class="col-12 about-us__title">про <span class="about-us__title _accent">секцию</span></h1>
      <div class="col-6 col-sm-12">
        <h2 class="about-us__sub-title">О нас</h2>

        <p class="about-us__text">Секция — это светлая и просторная фитнес-студия в Проточном переулке, где вы найдете
          лучшее оборудование и профессиональных тренеров для самых разных задач.</p>

        <p class="about-us__text">Наш план тренировок выстроен таким образом, чтобы разнообразить нагрузку и не дать вам
          устать от рутины. В студии есть
          как классические тренажеры, так и все необходимое оборудование для функционального тренинга. Каждый день в
          Секции -
          уникальная программа упражнений, у каждого тренера - свои плейлисты для каждой тренировки, а система
          мониторинга
          сердечного ритма MYZONE позволяет оценить эффективность каждого занятия.</p>

        <p class="about-us__text">Помимо групповых занятий, в Секции есть зал для персональных тренировок, оборудованный
          классическими тренажерами Life
          Fitness. Чувствуете, что вам не подойдет групповая программа, или у вас есть свои цели - возьмите тренера или
          тренируйтесь самостоятельно.</p>

        <p class="about-us__text">Наша система оплаты устроена так, что вам не нужно переплачивать за абонементы: вы
          платите только за ту услугу, которая
          вам нужна. Команда Секции посоветует программу, которая подойдет именно вам, а теплая и дружная атмосфера
          поможет
          по-настоящему расслабиться и получить удовольствие от фитнеса!</p>

        <a
          href=""
          class="about-us__action-button"
        >Начать тренировку</a>
      </div>
      <div class="col-6 d-md-none d-lg-flex about-us__banner">
        <img
          src="/src/images/Rectangle12.png"
          alt=""
        >
      </div>
    </div>
  </div>
</section>
