{{#with bodyMind}}
<section
  id="body-mind"
  class="body-mind section"
>
  <div class="overlay">
    <div class="container">
      <h2 class="body-mind__title section__heading">{{ title }}</h2>

      <div class="row _no-gap d-md-none d-lg-grid">
        <div class="col-8"></div>
        <div class="col-4 section__nearest-training _right">
          {{nearestTraining}} <span id="nearest-body-mind-value"></span>
        </div>
      </div>

      <div class="row _sm-gap">
        <ul class="col-9 col-sm-12 section__sub-messages">
          {{#each subMessageList}}
          <li class="sub-messages__item _sm-right">{{this}}</li>
          {{/each}}
        </ul>
        <div class="col-9 col-sm-8 d-lg-none">
          <div class="section__nearest-training _left">
            {{nearestTraining}} <span id="nearest-body-mind-value">ЗАВТРА</span>
          </div>
        </div>
        <div class="col-3 col-sm-4">
          <button
            id="body-mind-action"
            class="body-mind__action-button section__action-button"
          >ЗАПИСАТЬСЯ</button>
        </div>
      </div>
    </div>
  </div>
</section>
{{/with}}
