{{#with bodyMind}}
<section
  id="body-mind"
  class="body-mind"
>
  <div class="overlay">
    <div class="container">
      <h1 class="body-mind__title">{{ title }}</h1>

      <div class="row">
        <div class="col-8"></div>
        <div class="col-4 body-mind__nearest-training">
          {{nearestTraining}} <span id="nearest-body-mind-value"></span>
        </div>
      </div>

      <div class="row">
        <div class="col-9">
          <ul class="sub-messages">
            {{#each subMessageList}}
            <li class="sub-message__item">{{this}}</li>
            {{/each}}
          </ul>
        </div>
        <div class="col-3">
          <a
            href=""
            class="body-mind__action-button"
          >ЗАПИСАТЬСЯ</a>
        </div>
      </div>
    </div>
  </div>
</section>
{{/with}}
