<section
  id="feedback"
  class="feedback"
>
  <div class="container">
    <h3 class="feedback__title">Задайте вопрос</h3>

    <form
      id="feedback-form"
      class="feedback-form row"
    >
      <div class="text-field col-6 col-sm-12">
        <input
          type="text"
          id="name"
          name="name"
          class="text-field__input"
          placeholder="Ваше имя"
        >
        <label
          for="name"
          class="text-field__label"
        >Ваше имя</label>
      </div>

      <div class="text-field col-6 col-sm-12">
        <input
          type="email"
          id="email"
          name="email"
          class="text-field__input"
          placeholder="Ваш e-mail"
        >
        <label
          for="email"
          class="text-field__label"
        >Ваш e-mail</label>
      </div>

      <div class="text-field col-12">
        <textarea
          type="text"
          id="message"
          name="message"
          rows="1"
          class="text-field__input"
          placeholder="Ваш Вопрос"
        ></textarea>
        <label
          for="message"
          class="text-field__label"
        >Ваш Вопрос</label>
      </div>

      <div class="col-12">
        <button
          class="feedback-form__submit"
          type="submit"
        >ОТПРАВИТЬ</button>
      </div>
    </form>
  </div>
</section>
