{{#with fightings}}
<section
  id="fightings"
  class="fightings section"
>
  <div class="overlay">
    <div class="container">
      <h2 class="fightings__title section__heading">{{ title }}</h2>

      <div class="row _align-end">
        <div class="column _sm-reverse col-9 col-sm-8 _align-start">
          <div class="section__nearest-training _left">
            {{nearestTraining}} <span id="nearest-fightings-value"></span>
          </div>

          <ul class="sub-messages section__sub-messages">
            {{#each subMessageList}}
            <li class="sub-messages__item">{{this}}</li>
            {{/each}}
          </ul>
        </div>
        <div class="col-3 col-sm-4">
          <button
            id="fightings-action"
            class="fightings__action-button section__action-button"
          >ЗАПИСАТЬСЯ</button>
        </div>
      </div>
    </div>
  </div>
</section>
{{/with}}
