{{#with functional}}
<section
  id="functional"
  class="functional section"
>
  <div class="overlay">
    <div class="container">
      <h2 class="functional__title section__heading">{{ title }}</h2>

      <div class="row col-sm-hide">
        <div class="col-8"></div>
        <div class="col-4 section__nearest-training _right">
          {{nearestTraining}} <span id="nearest-functional-value"></span>
        </div>
      </div>

      <div class="row _align-end">
        <div class="column _sm-reverse col-9 col-sm-8 _align-start">
          <div class="section__nearest-training _left col-md-show">
            {{nearestTraining}} <span id="nearest-functional-value">ЗАВТРА</span>
          </div>

          <ul class="sub-messages section__sub-messages">
            {{#each subMessageList}}
            <li class="sub-messages__item">{{this}}</li>
            {{/each}}
          </ul>
        </div>
        <div class="col-3 col-sm-4">
          <button
            id="functional-action"
            class="functional__action-button section__action-button"
          >ЗАПИСАТЬСЯ</button>
        </div>
      </div>
    </div>
  </div>
</section>
{{/with}}
