{{#with hero}}
<section
  id="hero"
  class="hero"
>
  <div class="overlay">
    <div class="container _fluid">
      <h1 class="hero__title">{{ title }}</h1>
      <div class="row">
        <div class="col-4">
          <ul class="sub-messages">
            {{#each subMessageList}}
            <li class="sub-message__item">{{this}}</li>
            {{/each}}
          </ul>
        </div>
        <div class="col-3">
          <a href="" class="hero__action-button">ЗАКАЗАТЬ</a>
        </div>
      </div>
    </div>
  </div>
</section>
{{/with}}
