<section
  id="maps"
  class="maps section"
>
  <iframe
    src="https://yandex.ru/map-widget/v1/?um=constructor%3A4c0ec29b88ace90544b3c70f708617dd875362bee40cbd048a00ddaf4e3f04f1&amp;source=constructor"
    frameborder="0"
    class="ymaps"
  ></iframe>
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-12 info-card">
        <h4 class="info-card__address">Москва<span>Проточный переулок 11</span></h4>

        <div class="row info-card__body">
          <ul class="col-8 info-card__contacts">
            <li class="info-card__contacts-item">
              <a href="tel:+7(495)135-29-68">+7 (495) 135-29-68</a>
            </li>
            <li class="info-card__contacts-item">
              <a href="mailto:info@sektsia.ru">info@sektsia.ru</a>
            </li>
          </ul>

          <ul class="col-4 info-card__networks">
            <li class="info-card__networks-item">
              <a href="">{{> icon-inst}}</a>

            </li>
            <li class="info-card__networks-item">
              <a href="">{{> icon-fb}}</a>
            </li>
          </ul>
        </div>

        <ul class="info-card__schedule">
          <li class="info-card__schedule-item">Понедельник – пятница с 7:00 до 23:00</li>
          <li class="info-card__schedule-item">Выходные и праздничные дни с 9:00 до 20:00</li>
        </ul>
      </div>
    </div>
  </div>
</section>
