{{#with personal}}
<section
  id="personal"
  class="personal"
>
  <div class="overlay">
    <div class="container">
      <h1 class="personal__title">{{ title }}</h1>

      <div class="personal__nearest-training">
        {{nearestTraining}} <span id="nearest-personal-value"></span>
      </div>

      <div class="row">
        <div class="col-9">
          <ul class="sub-messages">
            {{#each subMessageList}}
            <li class="sub-message__item">{{this}}</li>
            {{/each}}
          </ul>
        </div>
        <div class="col-3">
          <a
            href=""
            class="personal__action-button"
          >ЗАПИСАТЬСЯ</a>
        </div>
      </div>
    </div>
  </div>
</section>
{{/with}}
