{{#with schedule}}
<div class="schedule section _private">
  <div class="container">
    <h3 class="schedule__title">
      Ваша ближайшая тренировка
      <span>вторник, 18 сентября 2021</span>
    </h3>

    <button class="schedule__button">ЛИЧНОЕ РАСПИСАНИЕ</button>

    <h4 class="section__heading schedule__title _private">ВАШЕ РАСПИСАНИЕ ТРЕНИРОВОК</h4>

    {{> schedule-view variant="_secondary" }}
  </div>
</div>
{{/with}}
