<table class="schedule-view _mobile">
  <thead class="schedule-view__header">
    <tr>
      <th>
        <svg width="42" height="24" xmlns="http://www.w3.org/2000/svg"><path opacity=".5" d="M.94 10.94a1.5 1.5 0 000 2.12l9.545 9.547a1.5 1.5 0 102.122-2.122L4.12 12l8.486-8.485a1.5 1.5 0 10-2.122-2.122L.94 10.94zM42 10.5H2v3h40v-3z" fill="#000" /></svg>
      </th>
      <th><span>ПН<br>10 сентября</span></th>
      <th>
        <svg width="42" height="24" xmlns="http://www.w3.org/2000/svg"><path opacity=".5" d="M.94 10.94a1.5 1.5 0 000 2.12l9.545 9.547a1.5 1.5 0 102.122-2.122L4.12 12l8.486-8.485a1.5 1.5 0 10-2.122-2.122L.94 10.94zM42 10.5H2v3h40v-3z" fill="#000" /></svg>
      </th>
    </tr>
  </thead>
  <tbody class="schedule-view__body">
    <tr>
      <td>8:00</td>
      <td>
        <div class="schedule-event">
          <span class="schedule-event__title">Arms, abs & shoulders</span>
          <span class="schedule-event__trainer">Денис</span>
        </div>
      </td>
      <td>
      </td>
    </tr>
  </tbody>
</table>
